<!-- Page Banner -->
<div class="page-banner about-banner container-fluid no-padding">
    <!-- Container -->
    <div class="container">
        <h3>Serviços</h3>
        <p>Conheça os serviços que oferecemos para nossos pacientes.</p>
        @*<ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Serviços</li>
            </ol>*@
    </div><!-- Container /- -->
    <!-- Shape -->
    <div class="banner-shape container-fluid no-padding">
        <div class="col-md-6 col-sm-6 col-xs-6 shape-left no-padding">
            <div class="left-shape-blue">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon2" clipPathUnits="objectBoundingBox">
                        <polygon points="0 0, 0 100, 120 100, 0 0"></polygon>
                    </clipPath>
                </svg>
            </div>
            <div class="left-shape">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon1" clipPathUnits="objectBoundingBox">
                        <polygon points="0 0, 0 100, 100 100, 0 0"></polygon>
                    </clipPath>
                </svg>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 shape-right no-padding">
            <div class="right-shape-blue">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon3" clipPathUnits="objectBoundingBox">
                        <polygon points="1 0.2, 0 1, 0 0.835, 1 0"></polygon>
                    </clipPath>
                </svg>
            </div>
            <div class="right-shape">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon4" clipPathUnits="objectBoundingBox">
                        <polygon points="1 0, 0 1, 100 100, 100 0"></polygon>
                    </clipPath>
                </svg>
            </div>
        </div>
    </div><!-- Shape -->
</div><!-- Page Banner /- -->
<!-- What We Do Best -->
<div id="what-we-do-best" class="container-fluid no-padding what-we-do-best" style="background-color: #ffffff; padding:20px 0">
    <!-- What We Do Best Left -->
    @*<div class="what-we-do-left col-md-4 no-padding" style="height:100%">
        <img src="~/Images/portfolio-8.jpg" style="height:100%" alt="what-we-do-best">
    </div>*@<!-- What We Do Best Left /- -->
    <!-- What We Do Best Right -->
    <div class="col-md-8 col-md-offset-2 what-we-do-right no-padding">
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/Images/service_option_8.jpg"  alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i>
                        <img src="~/Images/cardiology.png" alt="pulmonary" />
                    </i>
                    <h5>Cardiologistas</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/Images/service_option_7.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i>
                        <img src="~/Images/nuclear-magnetic.png" alt="Nuclear magnetic" />
                    </i>
                    <h5>Cirurgiões Cardíacos</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/Images/service_option_3.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i>
                        <img src="~/Images/traumatology.png" alt="Traumatology" />
                    </i>
                    <h5>Endocrinologista</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/Images/service_option_4.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i>
                        <img src="~/Images/cardiology.png" alt="Cardiology" />
                    </i>
                    <h5>Angiologistas</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding what-we-do-title">
            <div class="what-we-do-block">
                <img src="~/Images/what-we-do-best-block-title-bg.jpg" alt="what-we-do-best-title" />
                <div class="what-we-do-block-content">
                    <h3>Consultas com</h3>
                    <p>Veja mais o que podemos fazer por você</p>
                    <span>
                        <img src="~/Images/section-seprator.png" alt="section-seprator" />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/Images/service_option_2.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i>
                        <img src="~/Images/x-ray.png" alt="X-ray" />
                    </i>
                    <h5>Clínica Médica</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/Images/service_option_5.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i>
                        <img src="~/Images/diagnostic.png" alt="Diagnostic" />
                    </i>
                    <h5>Cirurgiões Vasculares</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/Images/service_option_1.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i>
                        <img src="~/Images/pulmonary.png" alt="Neurology" />
                    </i>
                    <h5>Pneumologista</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/Images/service_option_6.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i>
                        <img src="~/Images/diagnostic.png" alt="Blood test" />
                    </i>
                    <h5>Cirurgião Torácico </h5>
                </div>
            </div>
        </div>
    </div><!-- What We Do Best Right /- -->
</div><!-- What We Do Best /- -->
<!-- Departments Section -->
@Html.Partial("~/Views/Shared/_Department.cshtml")<!-- Departments Section /- -->

@section Scripts
{
    <script>
        corrigeClasseActive("#menu-servicos");
    </script>
}