<!-- Page Banner -->
<div class="page-banner team-banner container-fluid no-padding">
    <!-- Container -->
    <div class="container">
        <h3>Equipe</h3>
        <p>Conheça os profissionais que trabalham conosco</p>
    </div><!-- Container /- -->
    <!-- Shape -->
    <div class="banner-shape container-fluid no-padding">
        <div class="col-md-6 col-sm-6 col-xs-6 shape-left no-padding">
            <div class="left-shape-blue">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon2" clipPathUnits="objectBoundingBox">
                        <polygon points="0 0, 0 100, 120 100, 0 0"></polygon>
                    </clipPath>
                </svg>
            </div>
            <div class="left-shape">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon1" clipPathUnits="objectBoundingBox">
                        <polygon points="0 0, 0 100, 100 100, 0 0"></polygon>
                    </clipPath>
                </svg>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 shape-right no-padding">
            <div class="right-shape-blue">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon3" clipPathUnits="objectBoundingBox">
                        <polygon points="1 0.2, 0 1, 0 0.835, 1 0"></polygon>
                    </clipPath>
                </svg>
            </div>
            <div class="right-shape">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon4" clipPathUnits="objectBoundingBox">
                        <polygon points="1 0, 0 1, 100 100, 100 0"></polygon>
                    </clipPath>
                </svg>
            </div>
        </div>
    </div><!-- Shape -->
</div><!-- Page Banner /- -->
<!-- Latest News -->
<div class="container-fluid no-padding latest-news">
    <!-- Container -->
    <div class="container">
        <!-- Section Header -->
        <div class="section-header">
            <h3>Nosso corpo clínico</h3>
            <p>Veja os coloboradores que fazem parte do nosso time atualmente.</p>
        </div><!-- Section Header /- -->
        <div class="row">
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dr. André Bernardi</a>
                    </h3>
                    <div class="post-meta">
                        Cardiologista
                    </div>
                    <p>CRM 24957</p>
                </div>
            </article>
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dr. Sergio Veiga Lopes</a>
                    </h3>
                    <div class="post-meta">
                        Cirugião cardíaco
                    </div>
                    <p>CRM 18338</p>
                </div>
            </article>
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dra. Heloisa Arantes Zanin Adamoski</a>
                    </h3>
                    <div class="post-meta">
                        Cardiologia
                    </div>
                    <p>CRM 28455</p>
                </div>
            </article>
        </div>

        <div class="row">
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dr. Alexandre Sartori Barbosa</a>
                    </h3>
                    <div class="post-meta">
                        Cardiologia
                    </div>
                    <p>CRM 19976</p>
                </div>
            </article>
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dra. Lise de Oliveira Bochino</a>
                    </h3>
                    <div class="post-meta">
                        Cardiologia
                    </div>
                    <p>CRM 9936</p>
                </div>
            </article>
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dr. Bruno Graciliano Lopes Pinto</a>
                    </h3>
                    <div class="post-meta">
                        Cardiologia
                    </div>
                    <p>CRM 34043</p>
                </div>
            </article>
        </div>

        <div class="row">
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dr. Daniel Der Torossian Torres Neves</a>
                    </h3>
                    <div class="post-meta">
                        Cardiologia
                    </div>
                    <p>CRM 31430</p>
                </div>
            </article>
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dra. Nadya Rocumback Alves da Costa</a>
                    </h3>
                    <div class="post-meta">
                        Cardiologia
                    </div>
                    <p>CRM 24486</p>
                </div>
            </article>
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dr. Diego de Almeida</a>
                    </h3>
                    <div class="post-meta">
                        Cirurgia Vascula e Angiologia
                    </div>
                    <p>CRM 21090</p>
                </div>
            </article>
        </div>

        <div class="row">
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dra. Elis Sbrissia Ribeiro</a>
                    </h3>
                    <div class="post-meta">
                        Cirurgia Vascular e Angiologia
                    </div>
                    <p>CRM 30910</p>
                </div>
            </article>
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dra. Bruna Zimmermann Angelo</a>
                    </h3>
                    <div class="post-meta">
                        Cirurgia Vascular e Angiologia
                    </div>
                    <p>CRM 32776</p>
                </div>
            </article>
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dr. Frederico Barth</a>
                    </h3>
                    <div class="post-meta">
                        Cirurgia Torácica e Pneumologia
                    </div>
                    <p>CRM 37532</p>
                </div>
            </article>
        </div>

        <div class="row">
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dr. Claudio Silva de Lacerda</a>
                    </h3>
                    <div class="post-meta">
                        Endocrinologia
                    </div>
                    <p>CRM 17291</p>
                </div>
            </article>
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dr. Luiz Renato</a>
                    </h3>
                    <div class="post-meta">
                        Clínica Médica
                    </div>
                    <p>CRM 20883</p>
                </div>
            </article>
            <article class="col-md-4 col-sm-12 col-xs-12">
                <div class="entry-content" style="margin-left: 0px">
                    <h3 class="entry-title" style="margin-top: 50px">
                        <a href="blog-post.html">Dr. Vitor Akira Ito</a>
                    </h3>
                    <div class="post-meta">
                        Clínica Médica
                    </div>
                    <p>CRM 34845</p>
                </div>
            </article>
        </div>
    </div><!-- Container /- -->
</div><!-- Latest News /- -->

@section Scripts
{
    <script>
        corrigeClasseActive("#menu-equipe");
    </script>
}