<link rel="stylesheet" href="~/Content/main.css" />

<section id="details_paciente" class="main">
    <div class="container">
        <div class="content">
            <header class="major">
                <h2>Paciente</h2>
            </header>
            <section>
                <ul class="actions">
                    <li><a href="~/Laudo/Paciente/Create" class="button special scrolly">Novo</a></li>
                </ul>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data Nascimento</th>
                                <th>Alterar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tatiane Alves</td>
                                <td>01/11/1991</td>
                                <td>@Html.ActionLink("Alterar", "Edit")</td>
                                <td>@Html.ActionLink("Excluir", "Index")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>
