<!-- Page Banner -->
<div class="page-banner about-banner container-fluid no-padding">
    <!-- Container -->
    <div class="container">
        <h3>Sobre Nós</h3>
        <p>Conheça mais sobre a Clínica do Coração SL.</p>
        @*<ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Sobre Nós</li>
            </ol>*@
    </div><!-- Container /- -->
    <!-- Shape -->
    <div class="banner-shape container-fluid no-padding">
        <div class="col-md-6 col-sm-6 col-xs-6 shape-left no-padding">
            <div class="left-shape-blue">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon2" clipPathUnits="objectBoundingBox">
                        <polygon points="0 0, 0 100, 120 100, 0 0"></polygon>
                    </clipPath>
                </svg>
            </div>
            <div class="left-shape">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon1" clipPathUnits="objectBoundingBox">
                        <polygon points="0 0, 0 100, 100 100, 0 0"></polygon>
                    </clipPath>
                </svg>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 shape-right no-padding">
            <div class="right-shape-blue">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon3" clipPathUnits="objectBoundingBox">
                        <polygon points="1 0.2, 0 1, 0 0.835, 1 0"></polygon>
                    </clipPath>
                </svg>
            </div>
            <div class="right-shape">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon4" clipPathUnits="objectBoundingBox">
                        <polygon points="1 0, 0 1, 100 100, 100 0"></polygon>
                    </clipPath>
                </svg>
            </div>
        </div>
    </div><!-- Shape -->
</div><!-- Page Banner /- -->
<!-- Who We Are -->
<div class="container-fluid no-paddding who-we-are">
    <!-- Container -->
    <div class="container" style="margin-bottom:70px">
        <div class="who-we-are-block">
            <!-- Section Header -->
            <div class="section-header">
                <h3>Quem Somos</h3>
                <p class="texto-quem-somos">A Clínica do Coração foi reestruturada para agilizar o atendimento aos pacientes. 
                Suas modernas instalações estão prontas para realização de consultas nas áreas de 
                Cardiologia, Cirurgia Cardíaca, Angiologia e Cirurgia Vascular, Pneumologia e Cirurgia Torácica, 
                Endocrinologia, Medicina Interna e Clínica Geral. Para otimizar o tempo dos nossos pacientes 
                dispomos de todos os exames relacionados à circulação em um só local. Nosso entusiasmo e 
                dedicação fazem da Clínica do Coração um ambiente favorável o suficiente para prestar 
                os melhores serviços em saúde.</p>
            </div><!-- Section Header /- -->
            @*<img src="~/Images/who-we-are.jpg" alt="who-we-are" />*@
        </div>
    </div><!-- Container /- -->
</div><!-- Who We Are /- -->
<!-- Vision Section -->
<div id="vision-section" class="container-fluid no-padding call-out">
    <!-- Container -->
    <div class="container">
        <div class="call-out-content row">
            <div class="col-md-12 col-sm-9 col-xs-12">
                <h3>Visão</h3>
                <p>
                    As doenças do coração e do sistema circulatório são as mais graves em nosso meio. Atender pacientes de acordo
                    com as melhores diretrizes médicas internacionais nos faz cardiovasculares na região norte de Curitiba.
                </p>
            </div>

        </div>
    </div><!-- Container /- -->
</div><!-- View Section /- -->
<!-- Values Section -->
<div id="values-section" class="container-fluid no-padding service-section service-section2">
    <div class="container">
        <div class="section-header">
            <h3>Valores</h3>
            <p>
                Prestar assistência em saúde tendo a humanização como prioridade. Nesse
                mundo digital, cuidar de pessoas é nossa vocação.
            </p>
        </div>
    </div>
</div><!-- Values Section -->
@*<!-- Team Section -->
    <div id="team-section" class="container-fluid no-paddding team-section">
        <div class="container">
            <div class="section-header">
                <h3>Conheça nossos médicos</h3>
                <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
            </div>
            <div class="team-carousel">
                <div class="col-md-12 team-type">
                    <img src="~/Images/doctor-1.jpg" alt="doctor-1" />
                    <div class="member-content">
                        <div class="member-name">
                            <h6>Dr.Adaline Becka</h6>
                            <p>Dental Specialist</p>
                        </div>
                        <div class="member-contact">
                            <a title="Phone" href="#"><img src="~/Images/ftr-phone.png" alt="Phone" /></a>
                            <a title="Mail" href="#"><img src="~/Images/ftr-email.png" alt="Email" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 team-type">
                    <img src="~/Images/doctor-2.jpg" alt="doctor-2" />
                    <div class="member-content">
                        <div class="member-name">
                            <h6>Dr.Adaline Becka</h6>
                            <p>Dental Specialist</p>
                        </div>
                        <div class="member-contact">
                            <a title="Phone" href="#"><img src="~/Images/ftr-phone.png" alt="Phone" /></a>
                            <a title="Mail" href="#"><img src="~/Images/ftr-email.png" alt="Email" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 team-type">
                    <img src="~/Images/doctor-3.jpg" alt="doctor-3" />
                    <div class="member-content">
                        <div class="member-name">
                            <h6>Dr.Adaline Becka</h6>
                            <p>Dental Specialist</p>
                        </div>
                        <div class="member-contact">
                            <a title="Phone" href="#"><img src="~/Images/ftr-phone.png" alt="Phone" /></a>
                            <a title="Mail" href="#"><img src="~/Images/ftr-email.png" alt="Email" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <a title="View All Doctors" href="#">View All Doctors<i class="fa fa-plus"></i></a>
        </div>
    </div><!-- Team Section -->*@

<!-- Counter Section -->
@Html.Partial("~/Views/Shared/_Counter.cshtml")<!-- Counter Section /- -->
<!-- Testimonial Section -->
@Html.Partial("~/Views/Shared/_Testimonial.cshtml")<!-- Testimonial Section /- -->



@section Scripts
{
    <script>
        corrigeClasseActive("#menu-sobre");
    </script>
}