<!-- Counter Section -->
<div id="counter-section" class="container-fluid no-padding counter-section">
    <!-- Container -->
    <div class="container">
        <div class="col-md-6 col-sm-6 no-padding">
            <!-- Happy Customer -->
            <div class="happy-customer">
                <h3 class="block-title">Pacientes satisfeitos</h3>
                <p>
                    Alimentado por mais de <span>4,000</span> pacientes que confiam em nosso trabalho.
                </p>
                <a target="_blank" href="https://goo.gl/X3vqwt"><i class="fa fa-thumbs-o-up"></i>Junte-se a nós agora</a>
            </div><!-- Happy Customer /- -->
        </div>
        <div class="col-md-6 col-sm-6 no-padding">
            <!-- Counter App -->
            <div class="counter-app">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="statistics-box">
                        <i class="statistics-icon">
                            <img alt="statistics-icon" src="~/Images/icon-1.png">
                        </i>
                        <div class="statistics-content">
                            <span data-statistics_percent="6200" id="statistics_count-1">6200</span>
                            <p>Consultas Realizadas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="statistics-box">
                        <i class="statistics-icon">
                            <img alt="statistics-icon" src="~/Images/icon-2.png">
                        </i>
                        <div class="statistics-content">
                            <span data-statistics_percent="8000" id="statistics_count-2">8000</span>
                            <p>Procedimentos Realizados</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="statistics-box">
                        <i class="statistics-icon">
                            <img alt="statistics-icon" src="~/Images/icon-3.png">
                        </i>
                        <div class="statistics-content">
                            <span data-statistics_percent="27" id="statistics_count-3">27</span>
                            <p>Equipe Qualificada</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="statistics-box">
                        <i class="statistics-icon">
                            <img alt="statistics-icon" src="~/Images/icon-4.png">
                        </i>
                        <div class="statistics-content">
                            <span data-statistics_percent="4300" id="statistics_count-4">4300</span>
                            <p>Pacientes Satisfeitos</p>
                        </div>
                    </div>
                </div>
            </div><!-- Counter App /- -->
        </div>
    </div><!-- Container /- -->
</div><!-- Counter Section /- -->