<div class="container-fluid no-padding department-section" style="background-color: #f1f8ff">
    <div class="row">
        <div class="col-md-6 col-sm-12 departments no-padding" style="float: none; margin: auto">
            <div class="departments-bg">
            </div>
            <div class="section-header">
                <h3>Procedimentos da clínica</h3>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="dept-heading1">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-1" aria-expanded="true">
                                Ecodopplercardiograma transtorácico<i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="dept-type-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="dept-heading1">
                        <div class="panel-body">
                            <p>Este exame é frequentemente empregado na avaliação dos pacientes com sopro cardíaco, sintomas de palpitação, síncope, falta de ar, dor torácica, ou portadores de diversas doenças cardíacas como infarto do miocárdio, insuficiência cardíaca, anomalias congênitas, entre outras.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="dept-heading2">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-2" aria-expanded="false">
                                Doppler arterial e venoso de membros inferiores e superiores<i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="dept-type-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading2">
                        <div class="panel-body">
                            <p>É um exame que utiliza ultrassom para examinar o fluxo de artérias maiores dos membros inferiores e/ou superiores com formação de imagens em cores. Auxilia no rastreamento de doença isquêmica periférica, no planejamento cirúrgico e no controle de tratamento de afecções arteriais de membro inferior e/ ou superior.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="dept-heading3">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-3" aria-expanded="false">
                                Doppler de carótidas e vertebrais<i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="dept-type-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading3">
                        <div class="panel-body">
                            <p>É um exame complementar de diagnóstico que utiliza os ultrassons para estudar, em tempo real, a anatomia e circulação nas artérias carótidas e vertebrais (que fornecem sangue para o cérebro). Destina-se ao estudo do estado da parede arterial (pesquisa de estenoses por placas de aterosclerose), mas também avaliação do fluxo de sangue nas artérias carótidas e vertebrais, auxiliando no diagnóstico de doença aterosclerótica, aneurismas, angulações, dissecções, arterites e outras afecções que podem acometer as artérias carótidas e vertebrais.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="dept-heading4">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-4" aria-expanded="false">
                                Teste ergométrico<i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="dept-type-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading4">
                        <div class="panel-body">
                            <p>Neste exame, que também é conhecido como eletrocardiograma de esforço, é possível identificar pontos de diminuição no calibre das artérias coronárias (isquemia miocárdica), medir o fôlego do paciente, traçar sua capacidade aeróbica, identificar arritmias, estudar o comportamento da pressão arterial e verificar a eficácia dos medicamentos utilizados.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="dept-heading5">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-5" aria-expanded="false">
                                Holter 24 horas<i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="dept-type-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading5">
                        <div class="panel-body">
                            <p>É um monitor portátil que registra a atividade elétrica do coração e suas variações durante as 24 horas do dia ou mais. Assim, detecta alterações que, em geral, não aparecem num exame de tempo mais limitado, como num eletrocardiograma simples, por exemplo. O Holter é um eletrocardiograma gravado para ser lido posteriormente.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="dept-heading6">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-6" aria-expanded="false">
                                Monitoramento da pressão arterial (MAPA) 24 horas<i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="dept-type-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading6">
                        <div class="panel-body">
                            <p>Exame que permite o registro automático de várias medidas de pressão arterial durante um período de 24 horas (a cada 15 minutos durante o dia e a cada 30 minutos no período da noite), avaliando as atividades de vigília e no período de sono.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="dept-heading7">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-7" aria-expanded="false">
                                Eletrocardiograma<i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="dept-type-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading7">
                        <div class="panel-body">
                            <p>É um dos exames mais comuns da prática cardiológica. É um exame que mede a atividade elétrica emitida pelas células do coração. Assim, podemos ter noção da atividade das células cardíacas. Por exemplo, um coração acometido por infarto tem uma região onde as células musculares estão inativas; logo, nesta região não haverá atividade elétrica, o que pode ser detectado pelo exame.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="dept-heading7">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-8" aria-expanded="false">
                                Consultas<i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="dept-type-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading8">
                        <div class="panel-body">
                            <p>Contamos com diferentes especialistas, dentre eles: cardiologistas, cirurgiões cardíacos, angiologistas, cirurgiões vasculares, endocrinologista, clínica médica, pneumologista, cirurgião torácico.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="dept-heading7">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-9" aria-expanded="false">
                                Fisiologia<i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="dept-type-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading9">
                        <div class="panel-body">
                            <p>A Clínica do Coração viu uma necessidade no que diz respeito à avaliação, prescrição e acompanhamento de atividades físicas: a ausência de um serviço prestado direcionado aos objetivos reais do paciente. Esteja ele habituado ao mundo esportivo ou não.
Idealizamos um departamento com equipamentos e profissionais de ponta. São décadas de know how nos mais variados moldes esportivos. Um ambiente preparado para receber desde pacientes advindos de situações de risco a atletas de alto desempenho.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>