<!-- Testimonial Section -->
<div id="testimonial-section" class="container-fluid no-padding testimonial-section">
    <div class="container">
        <div class="section-header">
            <h3>O Que Nossos Pacientes Estão Falando</h3>
        </div>
        <!-- Testimonial Carousel -->
        <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <p>"Um excelente atendimento desde as recepcionistas até a atenção dos médicos, adorei.'</p>
                    <div class="testimonial-quote">
                        <i>
                            <img src="~/Images/quote.png" alt="quote">
                        </i>
                        <h4>Debora Stival</h4>
                        <p>Paciente - Curitiba</p>
                    </div>
                </div>
                <div class="item">
                    <p>"Ótimo atendimento, da recepção ao médico. Disponibiliza a maioria dos exames na própria clínica."</p>
                    <div class="testimonial-quote">
                        <i>
                            <img src="~/Images/quote.png" alt="quote">
                        </i>
                        <h4>Ana Paula Dresseno</h4>
                        <p>Paciente - Curitiba</p>
                    </div>
                </div>

            </div>
            <ol class="carousel-indicators">
                <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial-carousel" data-slide-to="1"></li>
            </ol>
        </div><!-- Testimonial Carousel /- -->
    </div>
</div><!-- Testimonial Section /- -->