<footer class="page-footer" style="padding:0 2em 2em 2em">
    <div class="footer-copyright">
        <div class="container">
            <span class="">Desenvolvido por</span> <a class="brown-text text-lighten-3" href="http://methodsinformatica.com.br">Method's Tecnologia LTDA.</a>
        </div>
    </div>
</footer>