
<!-- Three -->
<section id="three" class="main special">
    <div class="container">
        @*<span class="image fit primary"><img src="~/Images/pic02.jpg" alt="" /></span>*@
        <div class="content">
            <header class="major">
                <h2>Outros</h2>
            </header>
            <p>Todas as informações como: cadastros, configuração da aplicação, consultas.</p>
            <ul class="icons-grid">
                <li>
                    <a href="~/Laudo/Paciente/Index">
                        <h3>Paciente</h3>
                    </a>
                </li>
                <li>
                    <a href="~/Laudo/Medico/Index">
                        <h3>Médicos</h3>
                    </a>
                </li>
                <li>
                    <a href="~/Laudo/Ritmo/Index">
                        <h3>Ritmo</h3>
                    </a>
                </li>
                <li>
                    <a href="~/Laudo/Conclusao/Index">
                        <h3>Conclusão</h3>
                    </a>
                </li>
                <li>
                    <a href="~/Laudo/Convenio/Index">
                        <h3>Convênio</h3>
                    </a>
                </li>
                <li>
                    <a href="~/Laudo/Laudo/Index">
                        <h3>Laudos</h3>
                    </a>
                </li>
                <li>
                    <a href="~/Laudo/Usuario/Index">
                        <h3>Usuário Aplicação</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>


@*https://pixelarity.com/phantom
    https://www.freewebtemplates.com/download/free-website-template/template-43-771335641/demo/*@