<link rel="stylesheet" href="~/Content/main.css" />

<!-- Two -->
<section id="two" class="main special">
    <div class="container">
        @*<span class="image fit primary"><img src="~/Images/pic02.jpg" alt="" /></span>*@
        <div class="content">
            <header class="major">
                <h2>Relatórios</h2>
            </header>
            <p>Os relatórios abaixo apresentam informações sobre os dados dos laudos cadastrados.</p>
            <ul class="icons-grid">
                <li>
                    <a href="~/Laudo/Relatorio/HistoricoPorPaciente">
                        <h3>Histórico por Paciente</h3>
                    </a>
                </li>
                <li>
                    <a href="~/Laudo/Relatorio/PercPorRitmoEConclusao">
                        <h3>% Por Ritmo e Conclusão</h3>
                    </a>
                </li>
            </ul>
        </div>
        @*<a href="#three" class="goto-next scrolly">Next</a>*@
    </div>
</section>


@*https://pixelarity.com/phantom
    https://www.freewebtemplates.com/download/free-website-template/template-43-771335641/demo/*@